.searchBarContainer {
    border: 1px solid rgb(196, 193, 193);
    border-radius: 10px;
    height: 42px;
    grid-row: 1;
    grid-column: 1 / span 12;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.searchBar {
    border: none;
    height: 50%;
    font-size: 18px;
    width: 100%;
    margin-left: 5px;
}

.searchBar:focus {
    outline: none;
    width: 100%;
}

.searchIcon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    cursor: pointer;
}